%% See: https://github.com/inaka/erlang_guidelines
[{elvis,
  [{config,
    [#{dirs => ["src"],
       filter => "*.erl",
       ruleset => erl_files,
       rules =>
        % There are legitimate use cases for 'if':
        [{elvis_style, no_if_expression, disable}]},
     #{dirs => ["."],
       filter => "rebar.config",
       ruleset => rebar_config}]}]}].
