{minimum_otp_vsn, "22.0"}.
{compiler_error_format, rich}.

{deps, [recon]}.   % Just for debugging purposes: https://ferd.github.io/recon/

{relx,
 [{release, {textgroup, "0.1.0"},
   [textgroup,
    sasl,          % Only required for hot release upgrades.
    runtime_tools, % Only required by OTP tracing tools such as Observer.
    recon]},
  {mode, dev},
  {sys_config, "config/sys.config"},
  {vm_args, "config/vm.args"},
  {extended_start_script_hooks,
   [{post_start,   % Don't let "textgroup daemon" daemonize too early:
     [{wait_for_process, textgroup_acceptor_sup}]}]},
  {overlay_vars, "vars.config"},
  {overlay,
   [{copy, "LICENSE", "doc/LICENSE.txt"},
    {copy, "README.md", "doc/README.md"},
    {template, "config/textgroup.service", "etc/systemd/system/textgroup.service"}]}]}.

{profiles,
 [{prod,
   [{relx,
     [{mode, prod}]}]},
  {test,
   [{erl_opts,
     [nowarn_export_all]}]}]}.

{erl_opts,
 [warn_export_vars,
  warn_missing_spec_all,
  warn_unused_import,
  warnings_as_errors,
  debug_info]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  deprecated_function_calls,
  deprecated_functions,
  locals_not_used]}.

{dialyzer,
 [{warnings,
   [unknown,
    unmatched_returns,
    error_handling]}]}.

{ct_opts,
 [{keep_logs, 10},
  {config,
   ["test/textgroup_SUITE.config"]}]}.

{cover_enabled, true}.

{cover_excl_mods,
 [textgroup_systemd]}.

{cover_opts,
 [verbose,
  {min_coverage, 70}]}.

{edoc_opts,
 [{preprocess, true}]}.

{elvis,                    % See: https://github.com/inaka/erlang_guidelines
 [#{dirs => ["src"],
    filter => "*.erl",
    ruleset => erl_files,
    rules =>               % There are legitimate use cases for 'if':
     [{elvis_style, no_if_expression, disable}]},
  #{dirs => ["."],
    filter => "rebar.config",
    ruleset => rebar_config }]}.

{alias,
 [{check,
   [xref,
    dialyzer,
    ct,
    cover]}]}.

{plugins,
 [rebar3_appup_plugin,     % For convenient preparation of hot release upgrades.
  rebar3_lint]}.
