%% See: https://erlang.org/doc/man/config.html

[{textgroup, [

%% ---------------------------------------------------------------------
%% Textgroup configuration.

   {port, 1111},
   {pool_size, 5},
   {tcp_queue_size, 100}]},

%% ---------------------------------------------------------------------

 {kernel, [

%% ---------------------------------------------------------------------
%% Logging configuration.

   {logger_level, notice}, % debug | info | notice | warning | error.
   {logger,
    [{handler, default, logger_std_h,
      #{formatter => {logger_formatter,
                      #{single_line => false, % Multiline stack traces.
                        template => ["[", level, "] ",
                                     pid, " ",
                                     msg, "\n"]}}}}]}]}].
