[{textgroup,
  [{port, 1111},
   {pool_size, 5},
   {tcp_queue_size, 100}]},

 {kernel,
  [{logger_level, notice},
   {logger,
    [{handler, default, logger_std_h,
      #{formatter => {logger_formatter,
                      #{single_line => false,
                        template => ["[", level, "] ",
                                     pid, " ",
                                     msg, "\n"]}}}}]}]}].
